body{
    margin:0;
background: rgb(158,158,158);
background: linear-gradient(313deg, rgba(158,158,158,1) 0%, rgba(247,247,247,1) 50%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a, a:hover, a:focus, a:active {
      text-decoration: underline;
      color: gray;
    font-size:2.3vh;
}
img{
    width:5vw;

}
#header{
    text-align: center;

}
#header p{
    font-size: 3vh;
}
input:not([type="submit"]), select {
  width:14.7vw;
    height:3vh;
    font-size:2vh;
    margin-top:0.8vh;
    background-color: white;
    border-radius:0.5vw;
    border: 0.1vw solid gray;
}
#messages{
    width:13vw;
    color:red;
    font-family: 'Mulish', sans-serif;
}
#messages p{
    font-size:1.8vh;
    width:15vw;
    text-decoration: underline;
}
p{
    font-size:2vh;
    font-family: 'Mulish', sans-serif;
}
label{
    font-size: 2.2vh;
    font-family: 'Mulish', sans-serif;
}
input[type=submit]{
    width:7vw;
    height:5vh;
    font-size:2vh;
    margin-left:4vw;
    background-color: white;
    border-radius:0.5vw;
    border: 0.13vw solid gray;
    margin-top:1.5vh;
    cursor:pointer;
    font-family: 'Mulish', sans-serif;


}
.input-text{
    width:14.7vw;
    height:3vh;
    font-size:2vh;
    margin-top:0.8vh;
    background-color: white;
    border-radius:0.5vw;
    border: 0.1vw solid gray;
}
#add-camera-container{
    margin-top:3vh;
    padding-right: 42%;
    padding-left: 43%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
#user-label{
    text-align: left;
}