<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>{{ camera_object.name }}</p>
    <p>{{ camera_object.ip }}</p>
    <p>{{ camera_object.port }}</p>
    <p>{{ camera_object.codec }}</p>
    <p>{{ camera_object.user }}</p>
    <p>{{ camera_object.substream }}</p>
    <form method="GET" action="{% url 'camera-update' camera_object.id %}">
        <input type="submit" value="Update">
    </form>
    <form onsubmit="return confirm('Do you really want to delete this camera object?');" method="POST" action="{% url 'camera-delete' camera_object.id %}">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
</body>
</html>