{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Octopus - Cameras view</title>
    <link rel="stylesheet" href="{% static '/css/main_screen_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="logo"><a href="{% url 'dashboard' %}"><img src="{% static '/img/Octopus_logo_black.svg' %}" alt="octpus_logo_black"></a><span id="user">Logged in as {{ request.user }} <span id="user-info">|</span><span id="logout-button"><a href="{% url 'logout' %}">Logout</a></span></span></div>
    <hr>
    <div id="container">
        <div id="sidebar">
        <p id="sidebar-header">Available cameras</p>
        <hr>
        <div id="sidebar-content">
            {% for camera in camera_objects %}
                <a href="{% url 'camera-details' camera.id %}"><div class="camera-object"><span style="margin-left:2%">{{ forloop.counter }}. {{ camera.name }} ({{ camera.ip }})</span></div></a>
                <hr>
            {% endfor %}
        </div>
        </div>
        <div class="preview-screen">
        {% for camera in camera_objects %}
            <div class="preview-container">
                <img id="camera{{ forloop.counter }}" onload="loadImage{{ forloop.counter }}()" src="{% url 'rtsp-stream' rtsp_ip=camera.ip port=camera.port suffix=camera.suffix %}" alt='live-stream'>
{#                <img id="camera{{ forloop.counter }}" onload="loadImage{{ forloop.counter }}()" src="http://{{ camera.ip }}:{{ camera.port }}/video/mjpeg">#}
                <div id="loading{{ forloop.counter }}">Connecting to a  {{ camera.name }}</div>
{#                <div id="camera-name{{ forloop.counter }}"> {{ camera.name }} ({{ camera.ip }})</div>#}
                <script>
                document.getElementById("loading{{ forloop.counter }}").style.padding = "26%";
                const myInterval{{ forloop.counter }} = setInterval(myTimer{{ forloop.counter }}, 3000);

                function loadImage{{ forloop.counter }}() {
                    document.getElementById("loading{{ forloop.counter }}").remove();
                    clearInterval(myInterval{{ forloop.counter }});

                }

                function myTimer{{ forloop.counter }}() {
                    document.getElementById("camera{{ forloop.counter }}").remove();
                  document.getElementById("loading{{ forloop.counter }}").innerHTML = "The following camera is not responding:<p>{{ forloop.counter }}. {{ camera.name }} ({{ camera.ip }})</p>";
                  clearInterval(myInterval{{ forloop.counter }});
                }
                </script>
            </div>
    {#        <p><a href="{% url 'camera-details' camera.id %}">{{ forloop.counter }} - {{ camera.name }} ({{ camera.ip }})</a></p>#}
        {% endfor %}
        </div>
    </div>
</body>
</html>