{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Octopus - Dashboard</title>
    <link rel="stylesheet" href="{% static '/css/dashboard_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div id="logo"><img src="{% static '/img/Octopus_logo_black.svg' %}" alt="octpus_logo_black"></div>
<div id="container">
    <div class="module-box">
        <img src="{% static '/img/camera_icon.png' %}" alt="octpus_logo_black">
        <p>Cameras view</p>
    </div>
</div>
</body>
</html>